<nav>
	<span href="#/"class="nav-panel left" >
		<a href="#/" class="arrows">
			<span class="dummy-link"></span>
			<div class="icon-container">
				<i href="" class="fa nav-arrows fa-chevron-left fa-3x"></i>

			</div>
		</a>
	</span>
	<span class="nav-panel right">
		<a href="#/syrup" class="arrows">
			<span class="dummy-link"></span>
			<div class="icon-container">
				<i href="" class="fa fa-chevron-right fa-3x"></i>
			</div>
		</a>
	</span>
</nav>
<section>
	<img src="images/ampersand.png" alt="">
	<span><h4 class="img-text">&amp;</h4></span>
	<p style="border: 1px white solid;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<a href="http://ezramiller.biz/&amp;" target="_blank" class="enter header link" >Enter</a>
</section>