<nav>
  <span href="#/"class="nav-panel left" >
    <a href="#/halftone" class="arrows">
      <span class="dummy-link"></span>
      <div class="icon-container">
        <i href="" class="fa nav-arrows fa-chevron-left fa-3x"></i>

      </div>
    </a>
  </span>
  <span class="nav-panel right">
    <a href="#/" class="arrows">
      <span class="dummy-link"></span>
      <div class="icon-container">
        <i href="" class="fa fa-chevron-right fa-3x"></i>
      </div>
    </a>
  </span>
</nav>
<section>
  <img src="images/ezra_io2.png" alt="">
  <span><h4 class="img-text">Ezra.io</h4></span>
  <a href="http://ezra.io/" target="_blank" class="enter header link">Enter</a>
</section>