<nav>
  <span href="#/"class="nav-panel left" >
    <a href="#/spout" class="arrows">
      <span class="dummy-link"></span>
      <div class="icon-container">
        <i href="" class="fa nav-arrows fa-chevron-left fa-3x"></i>

      </div>
    </a>
  </span>
  <span class="nav-panel right">
    <a href="#/beautiful_time" class="arrows">
      <span class="dummy-link"></span>
      <div class="icon-container">
        <i href="" class="fa fa-chevron-right fa-3x"></i>
      </div>
    </a>
  </span>
</nav>
<section>
  <img src="images/lamp.png" alt="">
  <span><h4 class="img-text">Lamp</h4></span>
  <a href="http://ezra.io/lamp" target="_blank" class="enter header link" >Enter</a>
</section>