<!-- <p class="foot">navigate using arrow keys</p> -->

<nav id="main-nav">  

<a class="navs" href="#/ampersand" id="1" data-number="1">&amp;</a>
<a class="navs" href="#/syrup" id="1" data-number="1">Syrup</a>
<a class="navs" href="#/glaze" id="7" data-number="6">Glaze</a>
<a class="navs" ng-href="#/spout" id="2" data-number="2">Spout</a>
<a class="navs" href="#/lamp" id="3" data-number="3">Lamp</a>
<a class="navs" href="#/beautiful_time" id="4" data-number="5">Beautiful Time</a>
<a class="navs" href="#/rarity" id="5" data-number="6">Rarity</a>
<a class="navs" href="#/halftone" id="6" data-number="6">Halftone</a>
<a class="navs" href="#/ezra_io" id="8" data-number="6">Ezra.io</a>
</nav>